html{font-size: 22px;}
body{background-color: #333;
    color: whitesmoke;}

a {color:aliceblue}

a:visited{color:lightgray}

a:hover, a:active {color: #eee}

table, tr, th, td, caption {
    border: 1px solid #eee;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
} 

h1 {
    background-color: black;
    text-align: center;
    font-size: 36px;
}

h2 {
    background-color: lightgray;
    color: #000000;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}


h2 a:active {
    color: #000000;
}

h2 a:visited {
    color: #252424;
}

h2 a:hover {
    color: #000000;
}

.video{
    text-align: center;
}

.logo{
    text-align: center;
}